In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import logging as log

from sklearn.cluster import DBSCAN
from geopy.distance import great_circle
from shapely.geometry import MultiPoint
from scipy.spatial.distance import cdist

%matplotlib inline

In [2]:
df = pd.read_parquet('rent_clean_2019_09_09T19_30_03.parquet')

# max distance (in km) between coordinates to get "clustered"
EPSILON = 1
# min samples per cluster
MIN_SAMPLES = 1

In [4]:
def get_repr_points(lon_lat_df):
    """
    Get's lon's and lat's representative for a given lon and lat dataset.
    For details see: https://geoffboeing.com/2014/08/clustering-to-reduce-spatial-data-set-size/
    """
    coords = df[['lat', 'lon']].to_numpy()
    KMS_PER_RADIAN = 6371.0088
    epsilon = EPSILON / kms_per_radian
    db = DBSCAN(eps=epsilon,
                min_samples=MIN_SAMPLES,
                algorithm='ball_tree',
                metric='haversine').fit(np.radians(coords))
    cluster_labels = db.labels_
    num_clusters = len(set(cluster_labels))
    clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
    centermost_points = list(clusters.map(get_centermost_point))
    log.info(f'Found {num_clusters} clusters')
    return centermost_points
                                
def get_centermost_point(cluster):
    """
    Get the most "center" point for a cluster according to DBscan.
    """
    centroid = (MultiPoint(cluster).centroid.x, MultiPoint(cluster).centroid.y)
    centermost_point = min(cluster, key=lambda point: great_circle(point, centroid).m)
    return tuple(centermost_point)

In [6]:
repr_coords = get_repr_points(df)

In [12]:
def closest_point(point, points):
    """ Find closest point from a list of points. """
    return points[cdist([point], points).argmin()]

df['coords_tuple'] = [(x, y) for x,y in zip(df['lat'], df['lon'])]

df['closest_coords_center'] = [closest_point(x, repr_coords) for x in df['coords_tuple']]

In [15]:
df.loc[:,['coords_tuple', 'closest_coords_center']]

,coords_tuple,closest_coords_center
0,"(54.5623296, 18.4882319)","(54.555969999999995, 18.5081)"
1,"(52.4454, 16.8784)","(52.442506900000005, 16.893565600000002)"
2,"(51.2592, 22.4842)","(51.277452000000004, 22.503736800000002)"
3,"(53.48924375, 18.7625187)","(53.492510200000005, 18.7519414)"
4,"(52.3904, 16.8995)","(52.4085, 16.9198)"
5,"(51.7880708, 19.469314800000003)","(51.7623451, 19.4578512)"
6,"(51.404202500000004, 16.1938917)","(51.404202500000004, 16.1938917)"
7,"(53.1398539, 18.0257721)","(53.12424, 18.00303)"
8,"(53.0174, 18.5712)","(53.026121700000004, 18.5496221)"
9,"(50.8122, 19.1124)","(50.81439493, 19.11586761)"
10,"(52.6687226, 19.0370104)","(52.6687226, 19.0370104)"
11,"(50.3783, 18.8125)","(50.375684299999996, 18.8097438)"
12,"(51.4093206, 21.165071700000002)","(51.40241068, 21.15959032)"
13,"(53.1223552, 23.1483743)","(53.1321834, 23.153346399999997)"
14,"(52.4388, 16.9345)","(52.4085, 16.9198)"
15,"(52.4020211, 16.8655186)","(52.436755299999994, 16.850571600000002)"
16,"(51.2510955, 22.4907582)","(51.277452000000004, 22.503736800000002)"
17,"(51.74058302, 19.39906597)","(51.7757229, 19.388769399999997)"
18,"(51.54445856, 20.01242125)","(51.54445856, 20.01242125)"
19,"(50.2905508, 18.9270669)","(50.301944, 18.913056)"
20,"(51.7541055, 19.4268621)","(51.7623451, 19.4578512)"
21,"(50.8498434, 16.475679)","(50.84534, 16.479329999999997)"
22,"(50.291651, 18.674530999999998)","(50.2979, 18.6599)"
23,"(51.7541055, 19.4268621)","(51.7623451, 19.4578512)"
24,"(51.7230999, 19.4714)","(51.7623451, 19.4578512)"
25,"(51.7541055, 19.4268621)","(51.7623451, 19.4578512)"
26,"(51.758201, 19.4545023)","(51.7623451, 19.4578512)"
27,"(51.766544200000006, 19.4392308)","(51.7623451, 19.4578512)"
28,"(51.7541055, 19.4268621)","(51.7623451, 19.4578512)"
29,"(51.6635852, 16.0846672)","(51.658457399999996, 16.0857238)"
...,...,...
92482,"(52.1637999, 21.087066399999998)","(52.1276679, 21.096372)"
92483,"(52.231171999999994, 21.0038329)","(52.215270000000004, 21.01491)"
92484,"(52.129745799999995, 21.060153)","(52.1276679, 21.096372)"
92485,"(52.1750141, 21.0444328)","(52.215270000000004, 21.01491)"
92486,"(52.172290000000004, 21.05193)","(52.215270000000004, 21.01491)"
92487,"(52.2030807, 20.996044899999998)","(52.215270000000004, 21.01491)"
92488,"(52.1736507, 21.0597743)","(52.1276679, 21.096372)"
92489,"(52.231171999999994, 21.0038329)","(52.215270000000004, 21.01491)"
92490,"(52.2197158, 20.980980300000002)","(52.215270000000004, 21.01491)"
92491,"(52.231171999999994, 21.0038329)","(52.215270000000004, 21.01491)"
92492,"(52.231418, 20.9928941)","(52.215270000000004, 21.01491)"
92493,"(52.2407105, 21.025806399999997)","(52.215270000000004, 21.01491)"
92494,"(52.23174470000001, 20.9961082)","(52.215270000000004, 21.01491)"
92495,"(52.2006696, 21.041648199999997)","(52.215270000000004, 21.01491)"
92496,"(52.226928, 21.0125728)","(52.215270000000004, 21.01491)"
92497,"(52.231171999999994, 21.0038329)","(52.215270000000004, 21.01491)"
92498,"(52.209351299999994, 21.031662)","(52.215270000000004, 21.01491)"
92499,"(52.2296756, 21.012228699999998)","(52.215270000000004, 21.01491)"
92500,"(52.231171999999994, 21.0038329)","(52.215270000000004, 21.01491)"
92501,"(50.0561377, 19.9447235)","(50.061465999999996, 19.9379968)"
92502,"(50.0567669, 19.9427828)","(50.061465999999996, 19.9379968)"
92503,"(52.1965656, 20.9875748)","(52.215270000000004, 21.01491)"
92504,"(52.231171999999994, 21.0038329)","(52.215270000000004, 21.01491)"
92505,"(52.2225869, 21.019744)","(52.215270000000004, 21.01491)"
92506,"(52.2026787, 21.0176207)","(52.215270000000004, 21.01491)"
92507,"(52.231171999999994, 21.0038329)","(52.215270000000004, 21.01491)"
92508,"(52.231171999999994, 21.0038329)","(52.215270000000004, 21.01491)"
92509,"(52.2463123, 21.0171602)","(52.215270000000004, 21.01491)"
92510,"(52.23113, 21.002470000000002)","(52.215270000000004, 21.01491)"
92511,"(52.231171999999994, 21.0038329)","(52.215270000000004, 21.01491)"