In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import logging as log

from sklearn.cluster import DBSCAN
from geopy.distance import great_circle
from shapely.geometry import MultiPoint
from scipy.spatial.distance import cdist

%matplotlib inline

In [7]:
df = pd.read_parquet('sale_clean_2019_09_09T19_29_51.parquet')

# max distance (in km) between coordinates to get "clustered"
EPSILON = 1
# min samples per cluster
MIN_SAMPLES = 1

In [8]:
len(df)

147178

In [3]:
def get_repr_points(lon_lat_df):
    """
    Get's lon's and lat's representative for a given lon and lat dataset.
    For details see: https://geoffboeing.com/2014/08/clustering-to-reduce-spatial-data-set-size/
    """
    coords = df[['lat', 'lon']].to_numpy()
    KMS_PER_RADIAN = 6371.0088
    epsilon = EPSILON / KMS_PER_RADIAN
    db = DBSCAN(eps=epsilon,
                min_samples=MIN_SAMPLES,
                algorithm='ball_tree',
                metric='haversine').fit(np.radians(coords))
    cluster_labels = db.labels_
    num_clusters = len(set(cluster_labels))
    clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
    centermost_points = list(clusters.map(get_centermost_point))
    log.info(f'Found {num_clusters} clusters')
    return centermost_points
                                
def get_centermost_point(cluster):
    """
    Get the most "center" point for a cluster according to DBscan.
    """
    centroid = (MultiPoint(cluster).centroid.x, MultiPoint(cluster).centroid.y)
    centermost_point = min(cluster, key=lambda point: great_circle(point, centroid).m)
    return tuple(centermost_point)

In [4]:
repr_coords = get_repr_points(df)

In [5]:
def closest_point(point, points):
    """ Find closest point from a list of points. """
    return points[cdist([point], points).argmin()]

df['coords_tuple'] = [(x, y) for x,y in zip(df['lat'], df['lon'])]

df['coords_closest_tuple'] = [closest_point(x, repr_coords) for x in df['coords_tuple']]

In [6]:
center_coords = (df.loc[:,['coords_closest_tuple','price_m2']]
                   .groupby('coords_closest_tuple', as_index=False)
                   .mean()
                   .sort_values(by='price_m2')
                   # later encode index to coords categories
                   .reset_index(drop=True)
                   .rename(columns={'price_m2': 'coords_mean_price_m2'})
                )
center_coords['coords_category'] = center_coords.index + 1

In [7]:
center_coords

,coords_closest_tuple,coords_mean_price_m2,coords_category
0,"(50.06232241, 18.66123551)",0.080000,1
1,"(50.5316, 18.7144)",1.400000,2
2,"(51.9533, 18.3914)",1.740000,3
3,"(51.802229700000005, 15.7172237)",2.050000,4
4,"(50.4124, 18.2642)",2.400000,5
5,"(49.7818658, 18.8030232)",2.650000,6
6,"(52.2377975, 17.2747117)",2.700000,7
7,"(50.525833, 18.289167000000003)",3.000000,8
8,"(49.3625, 20.8887)",3.130000,9
9,"(52.931909999999995, 17.961)",4.000000,10
10,"(50.428290600000004, 21.2695778)",4.690000,11
11,"(50.8497645, 17.4152191)",5.250000,12
12,"(54.83338539999999, 18.314915799999998)",5.663750,13
13,"(52.5089047, 16.2567164)",5.956667,14
14,"(51.0398443, 17.347375)",6.250000,15
15,"(49.7377, 18.7035)",6.340000,16
16,"(54.1886757, 19.7226618)",6.800000,17
17,"(50.3888097, 18.3476407)",6.860000,18
18,"(49.9789834, 19.1423813)",7.010000,19
19,"(52.64486070000001, 16.8141992)",7.780000,20
20,"(52.6751, 16.8767)",7.780000,21
21,"(52.1482, 18.0929)",7.960000,22
22,"(49.7287, 20.1353)",8.330000,23
23,"(54.4776557, 18.2689448)",8.330000,24
24,"(50.2118918, 19.7463992)",8.500000,25
25,"(50.49117407, 18.40931653)",8.540000,26
26,"(51.3615, 15.7614)",8.820000,27
27,"(54.68363395, 18.71465929)",8.820000,28
28,"(54.2838316, 20.494003)",8.820000,29
29,"(53.42846294, 20.03659985)",9.480000,30
...,...,...,...
940,"(54.8273924, 18.24837685)",51.565000,941
941,"(52.0880946, 20.543803)",51.637500,942
942,"(54.324881000000005, 18.6345344)",51.989068,943
943,"(52.2329397, 21.225198000000002)",52.115000,944
944,"(53.9283144, 14.4504845)",52.861667,945
945,"(52.1276679, 21.096372)",52.878246,946
946,"(50.0467291, 20.1032229)",53.130000,947
947,"(51.0545282, 16.186323)",53.950000,948
948,"(54.389097, 18.649476899999996)",54.731435,949
949,"(52.3083738, 20.99479397)",55.595285,950
950,"(51.96260039999999, 19.711092999999998)",55.781111,951
951,"(52.144138299999995, 21.264846)",55.810000,952
952,"(51.09697, 17.16431)",56.670000,953
953,"(52.4663, 16.6633)",57.140000,954
954,"(49.7225, 20.2503)",57.310000,955
955,"(52.2512114, 21.2328762)",58.052500,956
956,"(52.0, 20.0)",58.196957,957
957,"(51.8274071, 15.7098935)",58.330000,958
958,"(52.4042, 16.7393)",58.820000,959
959,"(50.04235585, 20.06992367)",59.480000,960
960,"(53.937767, 18.473423999999998)",59.526667,961
961,"(52.4132, 17.1164)",60.000000,962
962,"(54.3819, 18.2672)",61.220000,963
963,"(52.215270000000004, 21.01491)",65.428074,964
964,"(52.1469365, 21.242731699999997)",65.698750,965
965,"(52.072555200000004, 21.1234985)",67.055333,966
966,"(54.0010938, 16.9796737)",69.230000,967
967,"(49.8890412, 20.0838927)",69.500000,968
968,"(52.8128, 16.839000000000002)",99.670769,969
969,"(50.28832020000001, 18.8750861)",115.200000,970